.section-image-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  height: 820px;
  width: 100%;
  background-size: 100% 100% !important;
  background-position: center;
  background-repeat: no-repeat !important;
}
.image-banner {
  position: absolute;
  display: flex;
  top: 105px;
  left: 208px;
  flex-direction: column;
  gap: 20px;
}
.image-banner--type2 {
  width: 566px;
  height: 408px;
  padding: 64px;
  gap: 56px;
  background: #f0510d;
  border-radius: 25px;
  top: 199.84px;
  left: 257px;
}
.image-banner__title {
  font-family: 'Cooper Md BT';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 124%;
  color: #f0510d;
  width: 480px;
  margin: 0;
  &.image-banner__title--type2 {
    color: #ffffff;
    font-size: 30px;
  }
}
.image-banner__subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 144%;
  color: #894722;
  width: 400px !important;
  margin: 0;
}
.image-banner__subtitle--type2 {
  display: none;
}
.image-banner__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 7px;
  width: 110px;
  height: 35.93px;
  text-decoration: none;
  margin-top: 20px;
  p {
    width: 110px;
    height: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 132%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #f0510d;
  }
  span {
    width: 110px;
    height: 5.86px;
    flex: none;
    order: 1;
    align-self: stretch;
  }
}
.image-banner__button--type2 {
  width: 214px;
  height: 60px;
  background: #ffffff;
  border-radius: 32px;
  padding: 20px 48px;
  gap: 8px;
  p {
    color: #f0510d;
  }
}
