.header--search__modal__predictive{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.predictive-search {
  position: absolute;
  display: flex;
  background-color: rgb(var(--color-background));
  z-index: 3;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;

  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.predictive-search--search-template {
  z-index: 2
}

#predictive-search-results{
  width: 100%;
  border-radius: 16px;
  background: #ffffff;
}


@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
    width: 750px;
    top: 150px;
  }

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  border-bottom: 1px dashed #EFEAE3;
  margin: 0 24px;
  padding: 1.5rem 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);

}

.predictive-search__heading__text{
  font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 132%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #894722;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}

.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  transition: all 0.3s ease-in-out;
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-decoration: none;
  /* text-underline-offset: 0.3rem; */
}

/* .predictive-search__results-list{
  max-height: 320px;
  overflow-y: scroll;
} */

.predictive-search__list-item{
  display: flex;
    flex-direction: row;
    margin: 20px 24px;
    width: calc(100% - 24px - 24px);
}

.predictive-search__image{
  width: 100px;
  height: 134px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 24px;
}

.predictive-search__item{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
}
.predictive-search__info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  justify-content: center;
}

.predictive-search__tag{
  font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 146%;
/* identical to box height, or 19px */

letter-spacing: 0.08em;
text-transform: uppercase;

/* Secondary/Text */

color: #894722;
text-decoration: none;
}
.predictive-search__title{
font-family: 'Cooper Md BT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 132%;
/* identical to box height, or 29px */

letter-spacing: 0.004em;

/* Primary/Accent 1 */

color: #F0510D;
}

.predictive-search__price{

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 146%;
  /* identical to box height, or 28px */


  /* Secondary/Text */

  color: #894722;
}.header--search__modal__predictive{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.predictive-search {
  position: absolute;
  display: flex;
  background-color: rgb(var(--color-background));
  z-index: 3;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;

  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.predictive-search--search-template {
  z-index: 2
}

#predictive-search-results{
  width: 100%;
  border-radius: 16px;
}


@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
    width: 750px;
    top: 150px;
  }

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  border-bottom: 1px dashed #EFEAE3;
  margin: 0 24px;
  padding: 1.5rem 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);

}

.predictive-search__heading__text{
  font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 132%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #894722;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}

.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  transition: all 0.3s ease-in-out;
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-decoration: none;
  /* text-underline-offset: 0.3rem; */
}

/* .predictive-search__results-list{
  max-height: 320px;
  overflow-y: scroll;
} */

.predictive-search__list-item{
  display: flex;
    flex-direction: row;
    margin: 20px 24px;
    width: calc(100% - 24px - 24px);
}

.predictive-search__image{
  width: 100px;
  height: 134px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 24px;
}

.predictive-search__item{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
}
.predictive-search__info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  justify-content: center;
}

.predictive-search__tag{
  font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 146%;
/* identical to box height, or 19px */

letter-spacing: 0.08em;
text-transform: uppercase;

/* Secondary/Text */

color: #894722;
text-decoration: none;
}
.predictive-search__title{
font-family: 'Cooper Md BT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 132%;
/* identical to box height, or 29px */

letter-spacing: 0.004em;

/* Primary/Accent 1 */

color: #F0510D;
}

.predictive-search__price{

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 146%;
  /* identical to box height, or 28px */


  /* Secondary/Text */

  color: #894722;
}

.predictive-search__list-item__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 24px 20px 24px;
}

.predictive-search__list-item__bottom__button{
  border-top: 1px dashed #EFEAE3;
  padding-top: 16px;
  font-family: 'Lato';
font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 144%;
/* or 24px */

display: flex;
align-items: center;
text-align: center;

/* Button/Button 1 */

color: #F0510D;
text-decoration: underline;
}

.predictive-search__price__max{
  text-decoration: line-through;
  margin-left: 8px;

}
.header--search__modal__predictive{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.predictive-search {
  position: absolute;
  display: flex;
  background-color: rgb(var(--color-background));
  z-index: 3;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;

  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.predictive-search--search-template {
  z-index: 2
}

#predictive-search-results{
  width: 100%;
  border-radius: 16px;
}


@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
    width: 750px;
    top: 150px;
  }

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  border-bottom: 1px dashed #EFEAE3;
  margin: 0 24px;
  padding: 1.5rem 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);

}

.predictive-search__heading__text{
  font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 132%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #894722;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}


.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  transition: all 0.3s ease-in-out;
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-decoration: none;
  /* text-underline-offset: 0.3rem; */
}

/* .predictive-search__results-list{
  max-height: 320px;
  overflow-y: scroll;
} */

.predictive-search__list-item{
  display: flex;
    flex-direction: row;
    margin: 20px 24px;
    width: calc(100% - 24px - 24px);
}

.predictive-search__image{
  width: 100px;
  height: 134px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 24px;
}

.predictive-search__item{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
}
.predictive-search__info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  justify-content: center;
}

.predictive-search__tag{
  font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 146%;
/* identical to box height, or 19px */

letter-spacing: 0.08em;
text-transform: uppercase;

/* Secondary/Text */

color: #894722;
text-decoration: none;
}
.predictive-search__title{
font-family: 'Cooper Md BT';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 132%;
/* identical to box height, or 29px */

letter-spacing: 0.004em;

/* Primary/Accent 1 */

color: #F0510D;
}

.predictive-search__price{

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 146%;
  /* identical to box height, or 28px */


  /* Secondary/Text */

  color: #894722;
}

.predictive-search__list-item__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 24px 20px 24px;
}

.predictive-search__list-item__bottom__button{
  border-top: 1px dashed #EFEAE3;
  padding-top: 16px;
  font-family: 'Lato';
font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 144%;
/* or 24px */

display: flex;
align-items: center;
text-align: center;

/* Button/Button 1 */

color: #F0510D;
text-decoration: underline;
}

.predictive-search__price__max{
  text-decoration: line-through;
  margin-left: 8px;

}


.predictive-search__list-item__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 24px 20px 24px;
}

.predictive-search__list-item__bottom__button{
  border-top: 1px dashed #EFEAE3;
  padding-top: 16px;
  font-family: 'Lato';
font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 144%;
/* or 24px */

display: flex;
align-items: center;
text-align: center;

/* Button/Button 1 */

color: #F0510D;
text-decoration: underline;
}

.predictive-search__price__max{
  text-decoration: line-through;
  margin-left: 8px;

}
.icon-arrow{
  width: 18px;
}
