/* .disable-scroll{
  overflow-y: hidden;
}
.enable-scroll{
  overflow-y: auto;
} */
/* .header{
  height: 70px;
  width: 96%;
  left: 2%;
  position: fixed;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 11.5px;
  border-radius: 20px;
  align-items: center;
  z-index: 99;
}
.header__wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
/* .header__down{
  top: -90px !important;
}

.header__up{
  background-color: white ;
  top: 0px;

}

.header__transparent{
  background-color: transparent !important;
  top: 0;
}
.header__white{
  background-color: #FFFFFF !important;
  top: 0px;
}

.header__nothome{
  background-color: #FFFFFF ;
} */


/* .header__left{
  display: flex;
  flex-direction: row;
  margin-left: 64px;
  width: 33%;
} */

/* .header__link{
font-weight: 800;
font-size: 13px;

display: flex;
align-items: center;
letter-spacing: 0.08em;
text-transform: uppercase;
margin-right: 35px;
color: #894722;
text-decoration: none;
} */

/* .header__logo{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 134px;
  height: 58px;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header__right{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.header__search{
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #FFE6C9 ;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #BF8D77;
} */

/* .icon__search__header{
  width: 23px;
} */

/* .header__search__modal__button__search{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:  #BF8D77;

} */

/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; } */

/*
.header__search__background{
  background: transparent !important;
} */


/* .header__signin{
  margin-right: 40px;
  font-weight: 800;
font-size: 13px;


display: flex;
align-items: center;
letter-spacing: 0.08em;
text-transform: uppercase;
margin-right: 20px;

color: #894722;
text-decoration: none;
}

.header__signin::after{
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  border-right: 2px solid rgba(137, 71, 34, 0.2);
  margin-left: 20px;
}

.header__mybag{
  margin-right: 22px;
  font-weight: 800;
font-size: 13px;

display: flex;
align-items: center;
letter-spacing: 0.08em;
text-transform: uppercase;
margin-right: 35px;

color: #894722;
text-decoration: none;
}

.header__right__count{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F0510D;
  margin-right: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
} */

/* .icon__close__search__modal{
  width:24px;
  color: #FFE6C9;
} */

/* .header__right__count__p{
  font-family: 'Cooper Md BT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.004em;
  color: #FFFFFF;
} */


/* .header__search__modal{
  position: absolute;
  width: 104vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.51);
  z-index: 99;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: -12px;
  left: -2.5%;
}
.header__search__modal--active{
  display: flex;
} */
/* .header__search__modal__wrapper{
  width: 80%;
  height: 148px;
  background: #FFFBEF;
  box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
  border-radius: 23px;
  align-self: flex-start;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
/*
.header__search__modal__top{
  background: #FFFFFF;
  box-shadow: 0px 10px 60px -10px rgba(227, 178, 157, 0.25);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 64px;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
} */

/* .header__search__modal__input{
  outline: transparent;
  border: none;
  font-size: 19px;
  color: #894722;
  background-color: transparent;
  border: 0px solid;
  height: 60px;
  width: 90%;

} */

/* .header__search__modal__input:focus {
    outline: none;
    -webkit-box-shadow: none;
  box-shadow: none;
} */

/* .header__search__modal__close{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
} */

